/* Display Properties */
/*
	1.inline
	2. block
	3. inline-block
	4. none
*/
#div-1 {
	background-color: green;
	display: inline;
}

#span-1 {
	background-color: purple;
	display: block;
}

#span-2 {
	background-color: red;
	display: inline-block;
	height: 100px;
	width: 100px;
}

#div-2 {
	background-color: hotpink;
}

#img {
	display: none;
}

/* Display Property Notes */

#p1 {
	background-color: #87CEFA;
}

#p2 {
	background-color: rgb(255,105,180);
	width: 60%;
}

#p3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	display: inline-block;
	background-color: orange;
	border: 1px solid black;
	width: 30%;
}

/* Float Property */
/*
	1. none
	2. right
	3. left
*/

.img-float {
	width: 200px;
	height: 200px;
	float: left;
}

/* CSS Units */

.box {
	background-color: purple;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 50vh;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 50px;
}

/* Notes on em, rem, and 200% */

.one-rem{
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

.two-hundred-percent {
	font-size: 200%;
}

/* CSS Background Discussion */
/*
	background-repeat:
		1. repeat
		2. repeat-x
		3. repeat-y
		4. round
		5. no repeat

	background-position:
		left top
		left center
		left bottom
		right top
		right center
		right bottom
		center top
		center center
		center bottom

	background-attachment:
		scroll
		fixed
		inherit
*/

.background {
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	background-attachment: fixed;
}

/* CSS Positioning */
/*
	position:
		1. static
		2. absolute
		3. fixed
		4. relative
		5. sticky
*/
.parent-element {
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800px;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	position: absolute;
	top: 10px;
}

.child-three {
	background-color: darkgray;
	padding: 10px;
}

/* Z Index */
/*
	Z index is the property that determines which HTML elements appear on top of another html element when ther overlap. The element that has the highest z-index is on "top"
*/
.container {
	position: relative;
}

.black-box {
	border: 2px solid black;
	height: 100px;
	margin: 30px;
	position: relative;
	z-index: 1;
}

.gray-box {
	position: absolute;
	left: 50px;
	top: 50px;
	background-color: lightgray;
	height: 60px;
	width: 70%;
	z-index: 3;
}

.green-box {
	position: absolute;
	top: -15px;
	left: 270px;
	background-color: green;
	height: 150px;
	z-index: 2;
}