* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* Navigation Bar  */

nav {
	background-color: white;
	padding: 10px;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
	z-index: 4;
}

.right-nav {
	text-align: right;
}

.nav-logo {
	float: left;
}

.nav {
	margin: 5px;
	display: inline;
}

.tuitt-button, .apply-button {
	color: white;
	background-color: #c2195b;
	border: none;
	padding: 1rem;
	border-radius: 3rem;
	width: 150px;
}


/* Content */

body {
	font-family: "Open Sans", sans-serif;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height : 50vh;
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-size: 100%;
	z-index: 1;
}

.front-bg {
	background-color: rgb(0, 0, 0, 0.5);
	min-height: 50vh;
	z-index: 0;
}

.container {
	color: white;
	opacity: 1;
	text-align: right;
	padding: 3rem;
	z-index: 4;
}

.title , .title-2 {
	font-family: "Zilla Slab", sans-serif;
	margin-bottom: 2rem;
	font-size: 30px;
	z-index: 4;
}

.subtitle {
	margin-left: 70%;
	font-size: 18px;
	padding-bottom: 1rem;
	z-index: 4;
}

.intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 5rem;
	text-align: center;
}

.pre-footer {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 4rem;
	text-align: center;
	height: 50vh;
	background-color: #f7fbfb;
}

.book-button {
	color: white;
	background-color: #336589;
	border: none;
	width: 150px;
	padding: 1rem;
	margin: 1rem;
	border-radius: 3rem;
}


/* Footer */

footer {
	text-align: center;
}